* {
    box-sizing: border-box;
  }
  .game-header {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .current {
    font-size: 2em;
  }
  .board {
    width: 306px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3,100px) / repeat(3,100px);
    grid-gap: 3px;
    background-color: rgb(29, 17, 204);
  }
  .field {
    background-color: rgb(59, 69, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    color: rgb(255, 119, 29);
  } 
  #btn{
      background-color: cyan;
      color: rgb(0, 0, 0);
      display: grid;
      margin: 0 auto;
      align-items: center;
      font-size: 2em;
      margin-top: 10px;
  }